<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>The calculator</h1>
<br>

<form action="" method="post">
    <input type="text" placeholder="First Number" name="num1" value="{{ request.form.num1 }}">
    <input type="text" placeholder="Operator" name="op" value="{{ request.form.op }}">
    <input type="text" placeholder="Second Number" name="num2" value="{{ request.form.num2 }}">
    <input class="btn btn-default" type="submit" value="Calculate">
</form>

{% if result %}
    <p class="result"><strong>Result:</strong> {{ result }}</p>
{% endif %}

</body>
</html>